
.top-bar {
    background-image: url("../Assets/earthNew-2.jpg");
    background-color: #333333;
    background-size: cover;
    height: 75px;
   }

.top-bar-title {
       color: aliceblue;
       font-family: 'Julius Sans One', sans-serif;
       font-weight: bold;
   }

   .row1{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 125px;
    margin-top: 0px;
    left: 50%;
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

   }

   .row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 500px;
    margin-top: 0px;
    left: 50%;

   }

   .search-results{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 125px;
    margin-top: 0px;
    margin-bottom: 0px;
    left: 50%;
    background-color: black;
    font-family: 'Julius Sans One', sans-serif;
    color: aliceblue;
    font-weight: bolder;

   }

   .grid-container{
    background-color: black;
    color: aliceblue;
    font-family: 'Julius Sans One', sans-serif;
 }

   .grid-container h1{
     background-color: black;
     color: aliceblue;
     font-family: 'Julius Sans One', sans-serif;
  }

   footer{
    background-color: black;
    margin: 0px;
    color: aliceblue;
   }

   footer p{
     margin-bottom: 0px;
   }

  .text-center{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;

  }


  